GEMINI_API_KEY =example

EMAIL_SENDER_ADDRESS =example

EMAIL_PASSWORD =example


TELEGRAM_API_ID =example

TELEGRAM_API_HASH =example

NUMVERIFY_KEY =example

ABSTRACT_KEY =example

PASSWORD_PEPPER =example